.dish-item {
    .dish-img {
        width: 105px;
        height: 105px;
        border-radius: 4px;
    }
    &-con {
        position: relative;

        &-move {
            position: relative;
            top: 50px;
        }
    }
}

.create-dish-item {
    border: 2px dashed #dddee1;
    border-color: #e9eaec;

    .title {
        color: #9ea7b4;
        font-size: 20px;
        text-align: center;
    }

    &:hover {
        border-color: #e4e5e7;
    }
}