.menu {
    &-list-table {
        thead {
            background-color: white;
        }
    }
}

.menu-editor {
    &-con {
        text-align: right;
    }
    .menu-collapse {
        border: none;

        .ivu-collapse-header {
            background-color: white;
            position: relative;

            .category-edit {
                position: absolute;
                right: 75px;
            }

            .category-delete {
                position: absolute;
                right: 55px;
            }

            .category-move {
                position: absolute;
                right: 30px;
                top: 8px;
            }
        }
        .ivu-collapse-content {
            background-color: inherit;
        }
    }

    .dish-avaliable {
        &-yes {
            color: #19be6b;
        }
        &-no {
            color: #ed3f14;
        }
    }
}