.dish {
    &-wrap {
        margin-bottom: 10px;
    }
    &-img {
        width: 100%;
        height: 100%;
        border-radius: 3px;
    }
    &-img-wrapper {
        height: 70px;
        width: 70px;
        margin: auto;
        background: url('../../images/icons/images.svg') no-repeat;
        background-size: 30px 30px;
        background-position: center center;
        border: 1px dashed lightgray;
        border-radius: 3px;
    }
    &-finished {
        &-true {
            color: #19be6b
        }
        &-false {
            color: #2d8cf0;
        }
    }
    &-urge {
        color: #ed3f14;
    }
    &-quantity {
        color: #80848f;
    }
}